.container {
  max-width: 1280px;
  margin-top: 32px;
  margin-inline: auto;
  box-shadow: 0 0 15px black;
  overflow: hidden;
  border-radius: 8px;

  .title {
    background-color: darkcyan;
    text-align: center;
    padding-top: 8px;
  }
}
