.tasksListContainer {
  padding: 16px;
}
.taskListHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-bottom: 8px;
}

.emptyTaskMessage {
  text-align: center;
  color: red;
  margin-top: 8px;
}

.tasksList {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  gap: 2%;
}

.verticalLine {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 2px;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 1) 53%,
      rgba(0, 0, 0, 1) 85%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

.incompleteTasks,
.completeTasks {
  min-width: 49%;
  padding: 8px;
}
